body{
	background: #ededed;
	font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif;
    font-size: 1.5rem;
    color: #666;
    .container{
        width: 24rem;
        height: 32rem;
    	position: absolute;
    	top: 40%;
    	left: 50%;
    	-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        align-items: center;

        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

    	border-radius: 5px;
    	opacity: .98;
    	animation: fade-in;
        animation-duration: 1s;
        -webkit-animation: fade-in 1s;
        background: rgba(230, 244, 249, 0.6);
        box-shadow: 0 5px 20px #555;
        -moz-box-shadow: 0 5px 20px #555;
        .info{
            .intro{
                text-align: center;
                .img{
                    width: 8rem;
                    height: 8rem;
                    overflow: hidden;
                    margin: 0 auto;
                    position: relative;
                    .loading{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8rem;
                        height: 4rem;
                        margin: 0 auto;
                    }
                    .loading span{
                        display: inline-block;
                        width: 8px;
                        height: 100%;
                        border-radius: 4px;
                        background: lightgreen;
                        -webkit-animation: load 1s ease infinite;
                    }
                    @-webkit-keyframes load{
                        0%,100%{
                            height: 3rem;
                            margin: .5rem 0;
                            background: lightblue;
                        }
                        50%{
                            height: 1rem;
                            margin: 1.5rem 0;
                            background: lightgreen;
                        }
                    }
                    @keyframes{
                        0%,100%{
                            height: 3rem;
                            margin: .5rem 0;
                            background: lightblue;
                        }
                        50%{
                            height: 1rem;
                            margin: 1.5rem 0;
                            background: lightgreen;
                        }
                    }
                    .loading span:nth-child(2){
                        -webkit-animation-delay:0.2s;
                    }
                    .loading span:nth-child(3){
                        -webkit-animation-delay:0.4s;
                    }
                    .loading span:nth-child(4){
                        -webkit-animation-delay:0.6s;
                    }
                    .loading span:nth-child(5){
                        -webkit-animation-delay:0.8s;
                    }
                }
                img{
                    width: 8rem;
                    height: 8rem;
                    background-size: cover;
                    border-radius: 50%;
                    box-shadow: 0px 0px 40px white;
                    border: 3px solid rgba(255, 255, 255, 0.61);
                    opacity: 1;
                    transition: all 1.0s;
                    display: none;
                    &:hover{
                        box-shadow: 0 0 10px #fff;
                        -webkit-box-shadow: 0 0 19px #fff;
                        transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                    }
                }
            }
            .contact{
                text-align: center;
                a{
                    text-decoration: underline;
                }
            }
        }
    }
    .footer{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 2rem;
    }
}